#page_title {
	margin-bottom: 20px;
}
.tab_select {
	text-align: center;
	cursor: pointer;
	padding: 7px;
	font-size: 0.8em;
	/*border: 1px dashed rgba(0,0,0,0.5);*/
}
.tab_select:hover {
	/*background-color: rgba(0,0,0,0.8);*/
	/*color: white;*/
}
.selected {
	background-color: rgba(0,0,0,0.65);
	color: white;

}
.container {
	width: 50%;
}
#page_title {
	font-size: 1.1em;
}
#subtitle {
	display: block;
	font-size: 0.7em;
	color: rgba(0,0,0,0.5);
}
.tab {
	margin-top: 10px;
	font-size: 0.8em;
	display: none;
	text-align: center;
}
.selected_data {
	display: block;
}
#map {
	height: 500px;
}
#sidebar {
	position: fixed;
	right: 0px;
	top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 1px;
	display: block;
	max-width: 30%;
	width: 30%;
	background-color: rgba(255,255,255,0.8);
	/*box-shadow: 0 0 1px black;*/
	border: 2px solid black;
	border-radius: 3px;
	height: 70%;
	max-height: 70%;
}
#sidebar ul {
	list-style-type: none;
	padding: 0px;
	max-height: 90%;
	height: 90%;
	overflow: scroll;
}
#sidebar ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 0.9em;
}
#sidebar ul li:hover {
	background-color: #1976D2;
	color: white;


}
#sidebar p {
	font-size: 1.1em;
	padding-left: 20px;
	color: rgba(0,0,0,0.7);
}
#right-panel {
	width: 100%;
	display: block;
	text-align: center;
	padding-bottom: 50px;

}
#container {
	padding-bottom: 50px;
}
#matched_results {
	list-style-type: none; width: 100%; text-align: center; padding: 0px;
}
#matched_results li {
	display: block;
	margin-bottom: 20px;
	padding: 10px;
	color: rgba(0,0,0,0.5);
}
#matched_results li span {
	display: block;
	width: 100%;
}
.matched_route {

	color: rgba(0,0,0,0.5);
}
.matched_name {
	color: rgba(0,0,0,1);
	font-size: 1.7em;

}
.matched_contact {
	color: rgba(0,0,0,1);
	margin-bottom: 5px;
	font-size: 0.9em;
}
.adp-directions {
	width: 100%;
	max-width: 100%;
}