#login_form {
	width: 100%;
}

#login_form input:active {
	box-shadow: 0 0 1px black;
}
.submit-btn {
	background-color: #1976D2;
	box-shadow: 0 0 0px black;
}
.container {
	left: 33%;
	text-align: center;
	width: 33%;
	top: 30%;
}
#page_title {
	border: 0px;
	margin-right: 0px;
	margin-left: 0px;
	display: block;

}
