#login_form {
	width: 100%;
}
#login_form input {
	display: block;
	width: 100%;
	/*padding: 10px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: 2px solid #0091EA;
	border-radius: 3px;
	font-family: quickbold;
	outline-width: 0px;
	font-size: 0.9em;
	margin-top: 5px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
#login_form input:active {
	box-shadow: 0 0 1px black;
}
.submit-btn {
	background-color: #0091EA;
	box-shadow: 0 0 0px black;
}
.container {
	left: 33%;
	text-align: center;
	width: 33%;
	top: 30%;
}
#page_title {
	padding-bottom: 30px;
	display: block;
}